body{
    font-family:'Times New Roman', Times, serif;
    color: gray;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
nav,footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid tomato;
    border-top: 2px solid tomato;
    
}
section{

}
footer{
    
}

a{
    text-decoration: none;
}

ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding: 0px;
    list-style: none;
}
li{
    padding: 30px;
    font-size: 20px;
    text-transform: uppercase;
}
image{
    display: flex;
    position: relative;
    z-index:-1;
}

h2.ppal{
    position: absolute;
}
ul.menu a{
    color: whitesmoke;
}
ul.menu a:hover{
    color: tomato;
}
section.content,.side-content,.main-content{
    margin-top: 10px;
}
div#date-time{
    margin-left: 0px;
}
div#logo{
    display: flex;
    justify-content:center;
    align-items:center
}
#logo h1{
    margin: 10px;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    letter-spacing: 10px;
    
}
span#logo-title{
    background-color: black;
    color: white;
}
p#temperat{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -15px;
}
div#principal-new{
    display: flex;
    justify-content:center;
    align-items:center
}
div#second-news{
    display: flex;
}
div#second-new1{
    flex:1;
}
div#second-new2{
    flex:1;
}
div.foot1,.foot2{
    
}
div.foot1 h5,.foot1 ul,.foot2 h5,.foot2 ul{
    display:flex;
    margin:0;
    list-style: none;
}
@media (min-width: 600px) {
    div#menu{
      display: none;
    }
    img{
        width: 75%;
    }
}
 @media (max-width: 600px) {
     nav{
         border: hidden;
     }
    ul.menu{
      display: none;
    }
    div#menu{
        align-items: flex-start
    }
    .image{
        width: 100%;
    }
    div#menu img{
       max-width: 20%;
    }
}