body{
    font-family:'Times New Roman', Times, serif;
    color: gray;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
nav,footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-bottom: 2px solid tomato;
    border-top: 2px solid tomato;
    width: 100%;
    height: 50px;   
}
a{
    text-decoration: none;
}
li{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
div#date-time{
    margin-left: 0px;
}
div#logo{
    display: flex;
    justify-content:center;
    align-items:center
}
#logo h1{
    margin: 10px;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    letter-spacing: 10px;
    
}
span#logo-title{
    background-color: black;
    color: white;
}
p#temperat{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -15px;
}

ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding: 0px;
    list-style: none;
}
ul.menu li{
    text-transform: uppercase;
}
ul.menu a{
    color: whitesmoke;
}
ul.menu a:hover{
    color: tomato;
}
h2.ppal a,h2.sec a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: start;
    width: 80%;
}
section.content,.side-content,.main{
    margin-top: 10px;
}
div#principal-new{
    margin: 10px;
}
div#second-new2{
    margin: 10px;
}
div#second-new1{
    margin: 10px;
}
img.image-text-right{
    margin-left: 10px;
}
.text-right{
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3.text-right a{
    color: black;
}
p.text-right a{
    color:  darkslategray;
}
h3.text-right a:hover{
    color: gray;
}
p.text-right a:hover{
    color: gray;
}
section.side-content{
    margin-right: 10px;
}
section.side-content div.side1{
    margin-bottom: 15px;
    padding: 10px;
    background-color: black;
}
section.side-content div.side2{ 
    padding: 10px;
    border: 1px solid black;
    background-color: tomato;

}
.side-content a, .side-content h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: whitesmoke;
}
.side-content div.side1 a:hover{
    color: tomato;
}
.side-content div.side2 a:hover{
    color: black;
}
ul.top-leidas{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.top-leidas li{
    margin-bottom: 20px;
    padding: 5px;
}
div.publi img{
    margin: 10px;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
}
div.content{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
div.image-text-right{
    flex: 1;
    padding: 10px;
}
section.pies{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.pies ul{
    list-style: none;
    padding: 0px;
}
.pies ul, .pies a, .pies h4{
    line-height: 0px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.pies a:hover{
    color: gray;
}
.pies h4{
    text-transform: uppercase;
}
.pies li{
    padding: 10px;
    margin: 0px;
}
div.foot1 h5,.foot1 ul,.foot2 h5,.foot2 ul{
    display:flex;
    margin:0;
    list-style: none;
}
footer p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#subscription{
    border: solid 2px;
    margin: 10px;
    /*align-items: center;*/    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
section#subscription h2,h3{
   margin-left: 5px;
}
.subscription-item{
    margin: 10px;
}
#subscription-in p.ok{
    display: none;
}

#subscription-in p.error-nombre{
   display: flex;
   color: tomato;
}
div.error{
    color: tomato;
    margin: 5px;
}
.item{
    /*position: absolute;*/
    margin-left: 10px;
}
.subscription-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.subscription-item input{
    margin-left: 0px;
    max-width: 70%;
}
div#subscription-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
}
@media (min-width: 768px) {
    div#menu{
        display: none;
    }
    div.content{
        width: 33.33%;
    }
    img.image-text-right{
        max-width: 50%;
    }
    img.image-ppal{
        max-width: 95%;
        padding: 0px;
    }
    img.image-sec{
        max-width: 90%;
    }
    div#second-news{
        display: flex;
    }
    section.content,.main{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    section.main-content{
        width: 70%
    }
    section.side-content{
        width: 30%;
    }
    h4.mobile{
        display: none;
    }
    .subscription-column{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    div.subscription-item{
        width: 50%;
    }
    .subscription-item input{
        width: 70%;
    }
   
}
@media(max-width:768px){
    nav,footer{
        border: hidden;
    }
  ul.menu{
      display: none;
     /*display: flex;
     flex-direction: column;
     align-items: center;*/
   }
    div#menu img{
        max-width: 20%;
    }  
    img.image-ppal,.image-sec{
        max-width: 100%;
    }
    img.image-text-right{
        max-width: 50%;
    }
    section.side-content{
        margin-left: 10px;
        max-width: 90%;
    }
   
    .pies ul{
        display: none;
    }
    h4.desktop{
        display: none;
    } 
}
 @media (max-width: 600px) {
    div#menu{
        align-items: center;   
    }
    div#date-time,#weather{
        display: none;
    }
    section.pies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #subscription-in{
        align-items: center;
    }
    .subscription-item{
        /*display: flex;*/
        justify-content: space-between;
        width: 90%;
    }
}
