body{
    font-family:'Times New Roman', Times, serif;
    color: gray;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
nav,footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid tomato;
    border-top: 2px solid tomato;
    width: 100%;
    height: 50px;
    
}
a{
    text-decoration: none;
}
li{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding: 0px;
    list-style: none;
}

image{
    display: flex;
    position: relative;
    z-index:-1;
}

h2.ppal a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}
h2.ppal{
    position: absolute;
    top: 100%;
}
ul.menu li{
    text-transform: uppercase;
}
ul.menu a{
    color: whitesmoke;
}
ul.menu a:hover{
    color: tomato;
}
ul.top-leidas{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.top-leidas li{
    margin-top: -25px;
}
section.content,.side-content,.main-content,.main{
    margin-top: 10px;
}
.text-right{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3.text-right a{
    color: black;
}
p.text-right a{
    color:  darkslategray;
}
h3.text-right a:hover{
    color: gray;
}
p.text-right a:hover{
    color: gray;
}
section.side-content div.side1{
    background-color: black;
    margin-bottom: 15px;
    padding: 10px;
}
section.side-content div.side2{ 
    background-color: tomato;
    /*margin-bottom: 10px;*/
    padding: 10px;
    border: 1px solid black;
}

.side-content a, .side-content h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: whitesmoke;
}
.side-content div.side1 a:hover{
    color: tomato;
}
.side-content div.side2 a:hover{
    color: black;
}
section.pies{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.pies ul{
    list-style: none;
}
.pies ul, .pies a, .pies h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    line-height: 0px;
    margin-top: 5px;
}
.pies a:hover{
    color: gray;
}
.pies h4{
    text-transform: uppercase;
}
.pies li{
    padding: 10px;
    margin: 0px;
}

div#date-time{
    margin-left: 0px;
}
div#logo{
    display: flex;
    justify-content:center;
    align-items:center
}
#logo h1{
    margin: 10px;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    letter-spacing: 10px;
    
}
span#logo-title{
    background-color: black;
    color: white;
}
p#temperat{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -15px;
}
div#principal-new{
    display: flex;
    justify-content:center;
    align-items: inherit;
    width: 100%;
}
div#second-news{
    position: relative;
    display: inline;
    margin: 0px;
    text-align: center;
}
div.text-on-image{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
div.content{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
div.image-text-right{
    flex: 1;
    padding: 10px;
}
div.foot1 h5,.foot1 ul,.foot2 h5,.foot2 ul{
    display:flex;
    margin:0;
    list-style: none;
}
footer p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (min-width: 600px) {
    div#menu{
      display: none;
    }
    img.image-text-right{
        max-width: 50%;
    }
    img.image-ppal{
        max-width: 95%;
        margin-bottom: 15px;
        padding: 0px;
    }
    img.image-sec{
        max-width: 90%;
        margin-bottom: 10px;
    }
    div#second-news{
        display: flex;
    }
    div#second-new1{
        flex:1;
        /*border-bottom: 1px solid gray;*/
    }
    div#second-new2{
        flex:1;
        /*border-bottom: 1px solid gray;*/
    }
    section.content,.main{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    section.main-content{
        /*display: flex;
        align-items: flex-start;*/
        width: 70%
    }
    section.side-content{
        /*display: flex;
        align-items: flex-start;*/
        width: 30%;
    }
    h4.mobile{
        display: none;
    }
}
 @media (max-width: 600px) {
     nav{
         border: hidden;
     }
    ul.menu{
      display: none;
    }
    div#menu{
        align-items: flex-start;   
    }
    div#date-time,#weather{
        display: none;
    }
    img.image-ppal,.image-sec{
        max-width: 90%;
    }
    img.image-text-right{
        max-width: 50%;
    }
    div#menu img{
       max-width: 20%;
    }  
    section.side-content{
        margin: 10px;
        max-width: 90%;
        font-size: 15px;    
    }
    .pies ul{
        display: none;
    }
    h4.desktop{
        display: none;
    }
    
}
@media(max-width:768px){
    div#menu{
        font-size: 16px;
    }
    .side-content{
        font-size: 16px;
    }
}